@font-face {
    font-family: "CircularSpotify";
    src: url(./CircularSpUICyrOnly-Bold.30dc9fb2.woff2);
}
.app{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr min-content;
    font-family:"CircularSpotify";
}
.accordion-left{
    background-color: black;
    grid-row:span 2;
    resize: horizontal;
}
.content{
    overflow-y: scroll;
    background-color:rgb(18,18,18);
    grid-row:1;
    grid-column: 2;
    max-width: 1920px;
}
@media(max-width:1200px){
    .content{
        max-width: 970px;
    }
}
@media(max-width:992px){
    .content{
        max-width: 750px;
    }
}
@media(max-width:767px){
    .content{
        max-width: none;
    }
}
.content::-webkit-scrollbar{
    width: 12px;
}
.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.content::-webkit-scrollbar-thumb {
    background-color:rgba(255, 255, 255, .3);
}
.content::-webkit-scrollbar-thumb:hover{
    background-color: darkgray;
}
.spoty-footer{
    height: 100px;
    grid-column: span 3;
    background-color: #181818;
    border-top: 1px solid #282828;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}
.left-item{
    width: 30%;
    min-width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.footer-title{
    margin: 0px 14px;
    cursor: pointer;
}
.like-button{
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.logo{
    margin: 18px 0px 18px;
    padding: 0px 24px;
}
.menu{
    list-style: none;
    display: block;
    padding: 0px 24px;
}
.menu-elem{
    height:40px;
    cursor: pointer;
    color: #b3b3b3;
    font-size: 14px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.menu-elem:hover{
    color: white;
}
.menu-elem:hover .menu-icon{
    fill:white;
}
.playlist{
    padding: 8px 24px;
}
.content-spacing{
    display: block;
    padding: 24px 16px 0px;
}
.spoty-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.spoty-header{
    background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%);
    min-width: 0;
    z-index: 2;
    height: 64px;
    padding: 16px 32px;
}

.hidden-bar{
    background-color: rgb(18,18,18);
    height: 64px;
    overflow: hidden;
    opacity: 0;
    transition: background-color .25s;
    z-index: -1;
}
.text-content{
    font-family:"CircularSpotify";
    font-size: 24px;
    color:white;
    margin-bottom: 16px;
}
.grid-content{
    display:grid;
    gap: 24px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}
.user-playlist{
    padding: 8px 0px;
    height: 100%;
    width: 100%;
}
.user-block{
    list-style: none;
    padding:  8px 0px;
}
.music-box{
    background-color: rgb(24,24,24);
    height: 258px;
    border-radius: 10px;
    display: grid;
    align-items:stretch;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
}
.music-box:hover{
    background-color: #282828;
    cursor: pointer;
}
.hidden-img{
    visibility: hidden;
    z-index: 2;
    position: absolute;
    left:100px;
    top:100px;
}
.music-box:hover .hidden-img{
    visibility: visible;
    transform: translateY(8px);
    transition: all .3s ease;
}
.hidden-img:hover{
    transform: scale(1.1);
}
.album{
    padding:10%;
    max-width: 100%;
}
.photo{
    margin-bottom: 16px;
    position: relative;
    max-width: 100%;
}
.first-title{
    font-family:"CircularSpotify";
    font-size:16px;
    color:white;
    padding: 0px 0px 4px;
    z-index: 1;
    max-width:100%;
}
.second-title{
    font-size:14px;
    color:#b3b3b3;
}
.menu-icon{
    fill:#b3b3b3;
    width: 24px;
    height: 24px;
}
.menu-icon:hover{
    fill:white;
}
